PORT=5000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=car_rental_db
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
MPESA_CONSUMER_KEY=get_from_safaricom_developer_portal
MPESA_CONSUMER_SECRET=get_from_safaricom_developer_portal
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_CALLBACK_URL=https://YOUR-RAILWAY-URL.railway.app/api/payments/callback
FRONTEND_URL=https://car-rental-ke.vercel.app
